.loader {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #000;
    width: 100%;
    height: 100%;

    &.hide {
        display: none;
    }

    .progress {
        display: block;
        color: #fff;
        font-size: 10rem;
        font-weight: bold;
    }
}